
$col-bg-accent: #f8f9fa;
$col-secondary: #353a49;
$col-primary: #1a73e8;


$font-family: "Inter", sans-serif;
$fs-small: 0.5rem;
$fs-regular: 0.75rem;
$fs-subtitle: 1.25rem;
$fs-sm-title: 1.875rem;
$fs-title: 2.19rem;
$fw-regular: 400;
$w-bold: 700;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



